
<!-- ###############################班级首页#################################### -->

<table align="centre">
	<thead>
		<tr>
			<th>
				<h1>---------班级首页--------</h1>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>
				<h2>
					<%= link_to("～》班级相册《～",photos_path) %>
				</h2>
			</th>
		</tr>
		<tr>
			<th>
				<h2>
					<%= link_to("～》学生信息《～", students_infos_path) %>
				</h2>
			</th>
		</tr>
		<tr>
			<th>
				<h2>
					<%= link_to("～》班级论坛《～",students_forums_path) %>
				</h2>
			</th>
		</tr>
		<tr>
			<th>
				<h2>
					<%= link_to("～》意见反馈《～", feedbacks_path )%>
				</h2>
			</th>
		</tr>
	</tbody>
</table>